@import '../../utils/sass/abstracts/abstracts';

.menu {
    ul {
        list-style: none;
        margin: 0;
    }

    li {
        display: inline-block;
        margin-left: em(16);
    }

    a {
        text-decoration: none;
        font-size: em(14);
    }
}

@media only screen and (min-width: em(900px)) {
    .menu {
        li {
            margin-left: em(50);
        }
    }
}
