@import '../../utils/sass/abstracts/abstracts';

.hero {
    margin-top: em(-20);
    padding: em(30) 0;
    min-height: 90vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00ffdc+0,0089ff+99&1+0,0.61+100 */
    background: linear-gradient(
        45deg,
        rgba(0, 255, 220, 1) 0%,
        rgba(0, 137, 255, 0.61) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@media only screen and (min-width: em(700px)) {
    .hero {
        margin-top: em(-40);
        padding: em(50) 0;
    }

    .hero__title {
        width: 80%;
        line-height: em(25);
        font-weight: 500;
    }
}

@media only screen and (min-width: em(900px)) {
    .hero {
        margin-top: em(-115);
        padding: em(195) 0;
    }
}

@media only screen and (min-width: em(1000px)) {
    .hero {
        padding: em(260) 0 em(210) 0;
    }
    .hero__title {
        width: 70%;
    }
}
