@import '../../utils/sass/abstracts/abstracts';

.projects-list {
    padding: em(30) 0;
    background-color: #f6f9fc;
}

.projects-title {
    text-align: center;
}

.projects-list__wrap {
    padding: em(10) 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: em(700px)) {
    .projects-list {
        padding: em(40) 0;
    }
    .projects-list__wrap {
        padding: em(20) 0 0 0;
    }
}

@media only screen and (min-width: em(1200px)) {
    .projects-list {
        padding: em(80) 0;
    }
    .projects-list__wrap {
        padding: em(50) 0 0 0;
    }
}
