@import '../../utils/sass/abstracts/abstracts';

.project-list {
    padding: em(20) 0;
    background-color: #f6f9fc;
}

.project-list__wrap {
    padding: em(10) 0 0 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

@media only screen and (min-width: em(700px)) {
    .project-list {
        padding: em(40) 0;
    }
    .project-list__wrap {
        padding: em(20) 0 0 0;
    }
}

@media only screen and (min-width: em(1200px)) {
    .project-list {
        padding: em(80) 0;
    }
    .project-list__wrap {
        padding: em(50) 0 0 0;
    }
}
